* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.logo-mario {

    height: 200px;
}

button {
    background-color: #C51111;
    color: white;
    border-radius: 3px;
    border: none;
    width: 200px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 50px;
}

.imagem-mario-luigi {
    height: 500px;
}

body {
    height: 100vh;
}

.caixa-mae {
    display: flex;
    height: 100vh;
    align-items: center;
    padding: 100px;
    justify-content:space-around;

}
.caixa-principal{
width: 40%;
}
.caixa-video {
 position: fixed;
 z-index: -1;
 top:0;
}
video {
min-height: 100%;
min-width: 100%;
position: fixed;
top: 0;

}
.mascara {
height: 100%;
width: 100%;
background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
position: fixed;
top:0;

}
p{
color: white; 
font-size: 30px;
   
}
.paragrafo {
margin-top: 50px;

}

.link-whatsapp img {
height: 60px;
position: fixed;
right: 20px;
bottom: 20px;
}

.header { 
display: flex;
align-items: center;
gap: 30px;
margin: 30px;    
    
}

.header img {
height: 60px;
}

.header a {
 color: white;   
 font-size: 24px;
cursor: pointer;
}
.header a:hover {
color:#C51111;
font-size: 32px;    
transition: 0.5s ease-in-out; 

}
button:hover {
color:darkorange;
font-size: 16px;
transition: 0.5s ease;
}

.formulario-fale-conosco {
 background-color: white;
 display: flex;
 flex-direction:column; 
 position: fixed;
 top: 50px;
 left: 50px;
 padding: 20px;
border-radius: 5px;
gap: 20px;
left: -150px;
transform: translateX(-50%);
top: 30%;
transition: left 1s ease-in-out;
}
input {
height: 40px;
border-radius: 5px;
border: 1px solid gray;
padding-left: 5px;
outline-color: #18d80f;
}

textarea {
width: 270px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
    outline-color: #18d80f;

}

.Orçamento{
    background-color: #C51111;
    color: white;
    border-radius: 3px;
    border: none;
    width: 270px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
    
}

.mascara-formulario {
visibility: hidden;    
position: fixed;
top: 0;
width: 100vw;
height: 100vh;
background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
transition: visibility 1s ease-in-out;
}

@media(max-width:1100px) {

    p { display: none;

}

.caixa-mae {

flex-direction: column;
padding: 10px;
justify-content: flex-start;

}

.caixa-principal {
 
display: flex; 
align-items: center;
flex-direction: column;

}
.imagem-mario-luigi {
width: 80vw;
height: auto;
}
.header {
margin: 10px;
display: flex;
align-items: center;
justify-content: center;

}
.header img {

display: none;
}

.header a {
font-size: 20px;

}
}


